body {
    background-image: url(billeder/StarSky.webp);
    animation:fadeIn 7s;
    }

@keyframes fadeIn{
from{opacity: 0;}
to{opacity:1;} 
}
#grad1{
    height: 630px;
    background-color: red;
    background-image: linear-gradient(lightblue, purple);
    animation: fadeIn 6s;
}
.OmMigBoks{
width: 550px;
height: 155px;
border: 3px solid grey;
background-color:lightsteelblue;
margin:auto;
margin-top: 10px;
border-radius:5px;
}
.knap{
width:180px;
color:white;
font-size:15px;
border:0px;
border-radius:30px;
padding:12px 0px;
}


h1 {
color: black;
font-size: 35px;
text-align: center;
text-shadow: 2px 2px 3px red;
border-style: inset;
border-width: 5px;
border-color:black white black white ;
border-radius:50px;
width: 700px;
margin:auto;
background-color: antiquewhite;
}
h2{
font-size:28px;
border-bottom: 3px solid black;
    width:200px;
    margin-left:0.2%;
}
img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    
}

h3{
    color:black; 
text-align: left;


}

h4{
    font-family:cursive; 
    text-align: center;
    text-align: left;
  font-size:20px;
border-left:6px solid black; 
    
    
}
p {
  font-family:cursive; 
    text-align: center;
  font-size: 15px;

}


h5{
    text-align: center;
    color: lavender;   
    font-family:bold; 
    border-bottom: 4px solid white;
    width: 500px;
    margin:auto;
  font-size: 35px;  
    
}

h6{
text-align: center;
font-family:bold; 
font-size: 25px;   
margin-top: auto;
margin-bottom: auto;
}
#boksweb{
    display: inline-block;
    width: 400px;
    margin:left;
    border: 5px solid black;
    border-radius: 20px;
    background-color: azure;
    opacity: 0.80; 
    margin-left: 5%;
    
}
#bokscookie{
    display: inline-block;
     width: 400px;
    margin:auto;
    border: 5px solid black;
    border-radius: 20px;
    background-color: burlywood;
    opacity: 0.80; 
    margin-right:25%;
}
#test{
    display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}
div.indhold{
    height: 320px;
    width: 320px;
    border: 5px solid black;
    float: left;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}
div#web{
    background-color: lavender;
    margin-left:5%;

}
div#cookie{
    background-color: burlywood;
}

div#astro{
    background-color: lightskyblue;
}

.indhold:hover{
		transform: scale(1.3);
    box-shadow: 20px 20px 20px black;
	}


</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>
</html>