body {
  background-color: lightsteelblue;
    opacity:0.8;
}

h1 {
  color: black;
  text-align: center;
    text-shadow: 2px 2px 3px red;
 border-style: inset;
border-width: 5px;
border-color:black white black white ;
    border-radius:50px;
    width:900px;
    margin:auto;
}
img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    
}

o1 {
  border-bottom: 3px solid black;
}

h3{
    color:black; 
text-align: center;

}

h4{
    font-family:cursive; 
    text-align: left;
  font-size: 20px;
border-left:6px solid black; 
    
    
}
p {
  font-family:cursive; 
    text-align: right
  font-size: 20px;
border-left:6px solid black;
    padding: 5px;
}
div {
  width: 800px;
  border: 4px solid black;
  padding: 8px;
  margin: auto;
    border-radius: 20px;
    background-color: lavender;

}
h5{
    font-family:bold; 
    text-align: left;
  font-size: 20px;   
}



</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>
</html>